# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env
# Streamlit
.streamlit/secrets.toml

# Google OAuth
token.json
credentials.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db